.black {
	a {
		color: #1B1D1E;
	}
	a:hover {
		color: #505354;
	}
}

.red {
	a {
		color: #F92672;
	}
	a:hover {
		color: #FF5995;
	}
}
.green {
	a {
		color: #82B414;
	}
	a:hover {
		color: #B6E354;
	}
}
.yellow{
	a {
		color: #FD971F;
	}
	a:hover {
		color: #FEED6C;
	}
}
.blue {
	a {
		color: #56C2D6;
	}
	a:hover {
		color: #8CEDFF;
	}
}
.purple {
	a {
		color: #8C54FE;
	}
	a:hover {
		color: #9E6FFE;
	}
}
.gray {
	a {
		color: #465457;
	}
	a:hover {
		color: #899CA1;
	}
}
.white {
	a {
		color: #CCCCC6;
	}
	a:hover {
		color: #F8F8F2;
	}
}
